.bartop {
  display: flex;
  flex-wrap: wrap;    
  row-gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 45px 0;
  transition: 0.6s;
  .name {
    font-size: 12px;
    font-family: "InterBold", sans-serif;
    h1 {
      display: inline-block;
      color: rgb(0, 0, 0);
      font-size: 40px;
      z-index: 1;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      row-gap: 0px;
    }
    h1 span {
      line-height: 45px;
    }
    h1 span:after {
      content: attr(data-shadow);
      position: absolute;
      top: 2px;
      left: 5px;
      z-index: -1;
      text-shadow: none;
      background-image: linear-gradient(45deg, transparent 45%, hsl(48, 20%, 90%) 45%, hsl(48, 20%, 90%) 55%, #3dff02 0);
      background-size: 1.05em 0.05em;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: shad-anim 15s linear infinite;
    }
    @keyframes shad-anim {
      0% {background-position: 0 0}
      0% {background-position: 100% -100%}
    }
  }
  .menu {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      row-gap: 10px;
      li {
        list-style-type: none;
        color: #000;
        &:hover {
          border-bottom: 1px solid #000;
        }
      }
    }
  }
}
.skills,
.aboutMe {
  padding: 15px 0;
}
.tituloSection {
  color: #0030ef;
  font-family: "InterBlack", sans-serif;
  margin-bottom: 10px;
}
.aboutMe {
  display: grid;
  grid-template-columns:2fr 300px;
  gap: 30px;
  .personalInfor {
    padding-top: 26px;
  }
  p {
    font-family: "InterRegular", sans-serif;
    strong {
      font-family: "InterBold", sans-serif;
    }
  }
  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    gap: 0px;
  }
}
.skills {
  margin-bottom: 20px;
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 20px;
    margin-top: 10px;
    li {
      font-family: "InterRegular", sans-serif;
      border: 1px solid #f1f1f1;
      padding: 7px 16px;
      border-radius: 20px;
      cursor: pointer;
      transition: 0.6s;
      &:hover {
        border: 1px solid #000;
        border-bottom: 2px solid #000;
      }
    }
  }
}
.experience {
  margin-bottom: 50px;
  .timeline {
    width: 100%;
    margin-top: 30px;
    position: relative;
    ul {
      position: relative;
      .item {
        position: relative;
        padding-bottom: 2.25em;
        display: flex;
        .itemDot {
          background-color: #b0d7e6;
          border-radius: 50%;
          display: inline-block;
          flex-shrink: 0;
          margin: 4px 15px 0 0;
          position: relative;
          width: 0.75em;
          height: 0.75em;
        }
        .itemDate {
          font-size: 0.833em;
          font-family: "InterRegular", sans-serif;
        }
        .itemName {
          font-size: 1.5em;
          line-height: 1.333;
          font-family: "InterBold", sans-serif;
          span {
            font-size: 0.8em;
            font-family: "InterMediun", sans-serif
          }
        }
        .itemInfor {
          border-radius: 0.375em;
          color: #686868;
          font-size: 1em;
        }
      }
      .item:not(:last-child):before {
          background-color: #b0d7e6;
          content: "";
          display: block;
          position: absolute;
          top: 1em;
          left:6px;
          width: 0.125em;
          height: 100%;
          transform: translateX(-50%);
      }
    }
  }
}